* {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  
}



body {
  background-color: lightblue
}

.movie_information{
    margin-top: 1rem;
    font-size: large;
}




.incorrect_input {
  color: red;
  font-size:Large;
}
